@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .flex .fa-bars{
        display: inline-block;
    }

    .header .flex .fa-bars{
        display: none;
    }

    .header .navbar{
        flex-flow: column;
        padding: 2rem;
        display: none;
    }

    .header .navbar.active{
        display: flex;
    }
}

@media (max-width:768px){

    .home .box img{
        height: 40vh;
    }

    .swiper-button-next,
    .swiper-button-prev{
        top: 35%;
    }
    
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .header .flex .logo{
        font-size: 2rem;
    }

    .home .box img{
        height: 25rem;
    }

    .about .row .image img{
        width: 100%;
    }
}

